.itemCard--card {
height: 600px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.itemCard--card:hover{
  background-color: lightcyan;
}

.itemCard--image{
  max-width: 200px;
  max-height: 350px;
  margin-top: 35px;

}

.itemCard--title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 50px;
}

.itemCard--title:hover{
    color: #ff5733; 
    transition: color 0.3s ease-in-out; 
}

.divBotones {
  display: flex;
  align-items: center;
  justify-content: center;

}

#botonesCard {
    font-family: "Montserrat", sans-serif;
    font-size: 80%;
  height: 50px;
  width: 150px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1)
  
}

#botonesCard:hover{
    background-color: yellowgreen;
}
